language: objective-c
os: osx
osx_image: xcode7.3

before_install:
	- gem install xcpretty -N --no-ri --no-rdoc
script:
	- set -o pipefail
	- xcodebuild clean test -project todolist.xcodeproj -scheme todolist -destination "platform=iOS Simulator,name=iPhone 6 Plus" -enableCodeCoverage YES | xcpretty
